
.meera {
	font-family: "Meera", sans-serif;
}

.manjari {
	font-family: "Manjari", sans-serif;
}

.gayathri {
	font-family: "Gayathri", sans-serif;
}

.anjali {
	font-family: "AnjaliOldLipi", serif;
}

.rachana {
	font-family: "Rachana", serif;
}

.chilanka{
	font-family: "chilanka", sans-serif;
}

.uroob {
	font-family: "Uroob", sans-serif;
}

.karumbi {
	font-family: "Karumbi", sans-serif;
}

.suruma {
	font-family: "Suruma", sans-serif;
}

.dyuthi {
	font-family: "Dyuthi", sans-serif;
}

.keraleeyam {
	font-family: "Keraleeyam", sans-serif;
}

.raghumalayalam {
	font-family: "RaghuMalayalam", sans-serif;
}
