<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Swathanthra Malayalam Computing</title>
        <meta name="description" content="Swathanthra Malayalam Computing">
        <meta name="keywords" content="SMC, Swathanthra Malayalam Computing, Malayalam, Community, Wiki">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Rufina:400' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" type="image/png" href="favicon.png" />
    </head>
    <body>
        <div id="top-bar">
        </div>
        <div class="wrapper">
            <ul class="lang-selector">
                <li><a class="language active" data-language="en">English</a></li>
                <li><span>|</span></li>
                <li><a class="language" data-language="ml">Malayalam</a></li>
            </ul>
        </div>
        <div id="homepage">
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="js/jquery.i18n.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/script.js"></script>
        <link rel="localization" hreflang="en" href="i18n/smc-en.json" type="application/l10n+json"/>
        <link rel="localization" hreflang="ml" href="i18n/smc-ml.json" type="application/l10n+json"/>
    </body>


    <script id="template-homepage" type="text/template">
        <div class="wrapper" id="main-content">
            <div class="sidebar">
                <div id="logo">
                    <img src="img/logo.png" />
                </div>
                <div id="external-links">
                    <ul id="links">
                        <li>
                            <a href="http://wiki.smc.org.in/"><%= $.i18n('menu-wiki') %></a>
                        </li>
                        <li>
                            <a href="http://silpa.org.in/" target="_blank"><%= $.i18n('menu-silpa') %></a>
                        </li>
                        <li>
                            <a href="https://savannah.nongnu.org/projects/smc/" target="_blank"><%= $.i18n('menu-savannah') %></a>
                        </li>
                        <li>
                            <a href="https://github.com/smc" target="_blank"><%= $.i18n('menu-github') %></a>
                        </li>
                        <li>
                            <a href="http://lists.smc.org.in/listinfo.cgi/discuss-smc.org.in" target="_blank"><%= $.i18n('menu-list') %></a>
                        </li>
                        <li>
                            <a href="http://webchat.freenode.net/?randomnick=1&channels=smc-project" target="_blank"><%= $.i18n('menu-irc') %></a>
                        </li>
                         <li>
                            <a href="http://dhvani.sourceforge.net/" target="_blank"><%= $.i18n('menu-dhvani') %></a>
                        </li>
                        <li>
                            <a href="http://www.malayalagrandham.com/" target="_blank"><%= $.i18n('menu-grandhavivaram') %></a>
                        </li>
                        <li>
                            <a href="http://planet.smc.org.in/" target="_blank"><%= $.i18n('menu-planet') %></a>
                        </li>
                    </ul>
                </div>
                <div id="social-share">
                    <ul id="social">
                        <li><a id="social-icon-1" href="https://www.facebook.com/SMC.Project" target="_blank">Facebook</a></li>
                        <li><a id="social-icon-2" href="https://twitter.com/smcproject" target="_blank">Twitter</a></li>
                        <li><a id="social-icon-3" href="https://identi.ca/smcproject" target="_blank">Identi.ca</a></li>
                        <li><a id="social-icon-4" href="https://plus.google.com/114205080648406335851/" target="_blank">Google Plus</a></li>
                        <li><a id="social-icon-5" href="https://diasp.org/people/71abaf650562c0a9" target="_blank">Diaspora</a></li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div id="title">
                    <h1 id="title"><%= $.i18n('title') %></h1>
                </div>
                <div id="about"><%= $.i18n('about') %></div>
            </div>
        </div>
        <footer>
            <div class="wrapper">
                <hr/>
                <div id="copyleft"><%= $.i18n('copyleft-msg', '<span>&copy;</span>') %></div>
            </div>
        </footer>
    </script>
</html>
